extends layout

block content
  h1(id="create") Create a poll
  form(action="post")
    .form-group
      label(for='question') Question
      input(name='question' id='question')
    .form-group
      label(for='option1') Option 1
      input(name='option1' id='option1')
    .form-group
      label(for='option2') Option 2
      input(name='option2' id='option2')
    .form-group
      a(href="#" id='sub') submit