extends layout

block content
  a(href="/createpoll") Create a poll

  h1(id="q") Question
  
  div(id="flex-wrapper")
    div(class="flex flex1")
      p(class="emoji") 🎆
      a(href="#" class="option o1") Option 1
      p(class="num1") 0
    
    div(class="flex flex2")
      p(class="emoji") 🎇
      a(href="#" class="option o2") Option 2
      p(class="num2") 0
