body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.form-group {
  padding-top: 1em;
}

.form-group a {
  color: black;
  border-bottom: 2px solid black;
}

#flex-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

#q {
  margin-bottom: 5em;
}

.emoji {
  font-size: 2em;
}